

.navbar-brand {
    font-weight: 800;
}

.logo {
    color: #a51409;
}

footer {
  height: 10%;  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #a51409;
  color: white;
  text-align: center;
  z-index: 999;
}

.footer-icon {
    color: white;
    margin-top: 15px;
}

.header {
    margin-top: 25px;
}

.card {
    margin: 80px 0;
    display: table;
}

.validate {
    width: 80%;
}

.button {
    margin-top: 15px;
    width: 33%;
    color: white;
    background-color: #a51409;
    border: none;
}

.flash-message {
    color: orange;
}

#close-btn {
    background-color: whitesmoke;
    color: #a51409;
    border: #a51409;
    
}

#logout-btn {
    background-color: #a51409;
    color: whitesmoke;
    border: whitesmoke;
    text-decoration: none;
}

.header {
    margin-top: 25px;
}

.header h1 {
    font-weight: 800;
    color: #a51409;
}


.browse-btn {
    background-color: #a51409;
    color: white;
    border: none;
    text-decoration: none;
}

.header {
    margin: 30px 0;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.recipe-card {
    height: 20vw;
}

.img-fluid {
    height: 45vh;
    width: 45vw;
}

.menu-header {
    margin: 15px 0;
}

.recipe-col {
    margin: 25px 0;
}

.card {
    min-width: 100%;
}