{% extends "base.html" %}
{% block title %} All Recipes {% endblock %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-12 header">
            <h1>All Recipes</h1>
        </div>
    </div>
    <div class="row text-center search">
        <form action="{{ url_for('search') }}" method="POST" class="form-inline">
            <label for="search">Search Recipe</label>
            <input class="form-control mr-sm-2" type="text" name="search" id="search" minlength="4" maxlength="30"
                placeholder="Search" aria-label="Search">
            <br>
            <button class="browse-btn btn btn-light" type="submit">Search</button> <a
                href="{{ url_for('all_recipes') }}" class="btn btn-outline-dark">Reset</a>
        </form>

    </div>
    <div class="row recipe-gallery">
        {% for recipe in recipes %}
        <div class="col-md-4">
            <div class="card card-recipe">
                {% if recipe.image_url and ('http') %}
                <img src="{{ recipe.image_url }}" class="card-img-top" alt="Recipe image">
                {% else %}
                <img src="{{ url_for('static', filename='images/noimage.png') }}" class="card-img-top"
                    alt="Recipe image">
                {% endif %}
                <div class="card-body recipe-card">
                    <h5 class="card-title">{{ recipe.meal_name }}</h5>
                    <hr>
                    <p> <b> {{recipe.cuisine}} </b> {{recipe.meal_type}}</p>
                    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}" class="browse-btn btn btn-light">See
                        Recipe</a>
                    <hr>
                    <p><small><b>Author: </b>{{ recipe.author }}</small></p>
                    {% if session.user == recipe.author %}

                    <div class="align-items-end">
                        <span><a class="btn btn-secondary btn-sm card-btn"
                                href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}">Edit Recipe</a></span>
                        <span><a class="btn btn-outline-danger btn-sm card-btn"
                                href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}">Delete Recipe</a></span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>

</div>

{% endblock %}