{% extends "base.html" %}
<!-- Page title -->
{% block title %} Log in {% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-md-12 header">
            <h1>Log in</h1>
        </div>
    </div>
    <div class="row  d-flex justify-content-center">
        <div class="card-form">
            <form method="POST" action="{{ url_for('login') }}">
                <div class="row">
                    <div class="col-md-12">
                        <label for="username">Username:</label>
                        <br>
                        <input id="username" name="username" type="text" class="validate" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label for="password">Password:</label>
                        <br>
                        <input id="password" name="password" type="password" class="validate" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                    </div>
                </div>
                <button type="submit" class="button">
                    Sign in
                </button>
            </form>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    Not got an account yet? <a href="{{ url_for('register') }}"> Sign up here </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}