{% extends "base.html" %}
<!-- Page title -->
{% block title %} Recipe {% endblock %}

{% block content %}

<!-- Single recipe information -->

<div class="container">
    <div class="form-container">
        <div class="row text-center">
            <div class="col-md-12 header">
                <!-- Recipe name -->
                <h1>{{ selected_recipe.meal_name }}</h1>
            </div>
        </div>
        <!-- Edit or delete recipe button, only available to recipe author -->
        <div class="row text-center">
            {% if session.user == selected_recipe.author%}
            <div class="col-md-6">
                <a class="btn btn-secondary btn-sm"
                    href="{{ url_for('edit_recipe', recipe_id=selected_recipe._id) }}">Edit
                    Recipe</a>
            </div>
            <br>
            <div class="col-md-6">
                <a class="btn btn-outline-danger btn-sm"
                    href="{{ url_for('delete_recipe', recipe_id=selected_recipe._id) }}">Delete Recipe</a></div>
            {% endif %}
        </div>

        <br>
        <!-- Recipe image or / No image found -->
        <div class="row">
            <div class="col-md-6">
                <div class="row justify-content-evenly">
                    <div class="img-placeholder text-center">
                        {% if selected_recipe.image_url %}
                        <img src="{{ selected_recipe.image_url }}" class="img-fluid" alt="Meal picture">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/noimage.png') }}" class="img-fluid"
                            alt="Recipe image">
                        {% endif %}
                    </div>
                </div>
                <!-- Recipe author -->
                <div class="row text-center">
                    <span><b> Author: </b><i>{{ selected_recipe.author }} </i></span>
                </div>
                <br>
            </div>
            <!-- Meal description -->
            <div class="col-md-6">
                <div class="row">
                    <h5 style="font-weight: bold;">{{ selected_recipe.meal_description }}</h5>
                </div>
                <br>
                <div class="row">
                    <p> <strong> Meal Type: </strong>{{ selected_recipe.meal_type }}</p>
                    <p><strong> Cuisine: </strong>{{ selected_recipe.cuisine }}</p>
                    <p><strong> Cooking time: </strong>{{ selected_recipe.cooking_time }} min</p>
                    <p><strong>Servings:</strong> {{ selected_recipe.number_of_servings }}</p>
                </div>
            </div>
        </div>
        <!-- Meal ingredients -->
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <h3 class="menu-header">Ingredients:</h3>
                </div>
                <div class="row recipe-col">
                    <ul>
                        {% for ingredient in selected_recipe.ingredients.splitlines() %}
                        <li>
                            {{ingredient}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Directions -->
            <div class="col-md-8">
                <div class="row">
                    <h3 class="menu-header">Directions:</h3>
                </div>
                <div class="row recipe-col">
                    <ol>
                        {% for directions in selected_recipe.directions.splitlines() %}
                        <li>
                            <p> {{directions}} </p>
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}